# Root environment variables
PORT=5000
JWT_SECRET=supersecret
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/your-db-name
MONGO_DB_NAME=afzal-market-store
FRONTEND_ORIGIN=https://afzal-frontend.onrender.com

# Frontend environment variables (Vite uses VITE_ prefix)
VITE_API_URL=https://afzal-1.onrender.com
VITE_GOOGLE_CLIENT_ID=244952973734-emd2nma2jiuvnhr2gitu8hv4ju9ltbf9.apps.googleusercontent.com
