# Root environment variables
PORT=5000
JWT_SECRET=supersecret
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/your-db-name

# Frontend environment variables (Vite uses VITE_ prefix)
VITE_GOOGLE_CLIENT_ID=244952973734-emd2nma2jiuvnhr2gitu8hv4ju9ltbf9.apps.googleusercontent.com
